## Proyecto - Análisis de Datos Meteorológicos
Este proyecto consiste en analizar un conjunto de datos meteorológicos utilizando Python, NumPy y Pandas. El objetivo es aplicar las técnicas de manipulación de arrays, tratamiento de datos faltantes, y análisis estadístico básico en un conjunto de datos del mundo real.

### Tareas a realizar:
1. Crear un DataFrame a partir de los datos del archivo **datos_meteorologicos.csv** 

2. Realizar observaciones iniciales de los datos con Pandas

3. Convertir las columnas del DataFrame en arrays de NumPy.

4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.

5. Realizar análisis estadístico básico. Se expera extraer la siguiente información:
    - Temperatura promedio
    - El total de precipitaciones
    - La máxima humedad registrada
    - La fecha más calurosa
    - La fecha más fría

      
6. Exportar los resultados a un nuevo archivo CSV.

### 1. Crear un DataFrame a partir de los datos del archivo datos_meteorologicos.csv

In [12]:
import pandas as pd
import numpy as np

In [ ]:
ruta='C:/Users/ALEJO/Curso Datascience/Numpy/datos_meteorologicos.csv' # La ruta en la que se encuentra el archivo (en mi caso fue esta)
df_datos_meteorologicos=pd.read_csv(ruta)
df_datos_meteorologicos

           Fecha  Temperatura  Precipitación    Humedad
0     01/01/2010    17.440675      10.957482  52.384637
1     02/01/2010    25.759468       5.315628  30.633530
2     03/01/2010    20.138169      15.317706  41.496715
3     04/01/2010    17.244159      13.151008  90.684704
4     05/01/2010    11.182740      16.413667  22.116422
...          ...          ...            ...        ...
5105  24/12/2023    -9.554692      12.700998  50.094533
5106  25/12/2023     2.837831       5.475686  92.456057
5107  26/12/2023    29.873597       4.615012  18.362847
5108  27/12/2023          NaN            NaN        NaN
5109  28/12/2023    37.308043       7.330510  50.646211

[5110 rows x 4 columns]

### 2. Realizar observaciones iniciales de los datos con Pandas

In [14]:
df_datos_meteorologicos.head() # Primeras 5 filas

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422

In [15]:
df_datos_meteorologicos.describe() # Algunos datos estadísticos

       Temperatura  Precipitación      Humedad
count  4855.000000    4855.000000  4855.000000
mean     14.889296       9.901604    54.359061
std      14.440466       5.801842    26.096345
min      -9.996378       0.003008    10.014980
25%       2.651777       4.756907    31.866578
50%      14.693274       9.853698    54.254478
75%      27.381451      14.966997    77.029500
max      39.998201      19.999559    99.996582

In [16]:
df_datos_meteorologicos.info() # Inforación

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          5110 non-null   object
 1   Temperatura    4855 non-null   float64
 2   Precipitación  4855 non-null   float64
 3   Humedad        4855 non-null   float64
dtypes: float64(3), object(1)
memory usage: 159.8+ KB

#### 3. Convertir las columnas del DataFrame en arrays de NumPy.

In [38]:
# Temperatura
temperatura=df_datos_meteorologicos['Temperatura'].to_numpy()
# Precipitación
precipitacion=df_datos_meteorologicos['Precipitación'].to_numpy()
# Humedad
humedad=df_datos_meteorologicos['Humedad'].to_numpy()
print(f'Temperatura: {temperatura}')
print(f'Precipitación: {precipitacion}')
print(f'Humedad: {humedad}')

Temperatura: [17.4406752  25.75946832 20.1381688  ... 29.87359717         nan
 37.30804318]
Precipitación: [10.957482    5.31562765 15.31770609 ...  4.61501177         nan
  7.33051023]
Humedad: [52.38463749 30.63352983 41.49671458 ... 18.36284738         nan
 50.64621058]

#### 4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.

In [41]:
# Identidicar los datos 
temperatura_nan=np.isnan(temperatura)
precipitacion_nan=np.isnan(temperatura)
humedad_nan=np.isnan(temperatura)
# Cantidad de datos nulos
cantidad_nulos_temperatura=np.sum(temperatura_nan)
cantidad_nulos_precipitacion=np.sum(precipitacion_nan)
cantidad_nulos_humedad=np.sum(humedad_nan)
print(f'Datos nulos en la columna Temperatura: {cantidad_nulos_temperatura}')
print(f'Datos nulos en la columna Precipitación: {cantidad_nulos_precipitacion}')
print(f'Datos nulos en la columna Humedad: {cantidad_nulos_humedad}')

Datos nulos en la columna Temperatura: 255
Datos nulos en la columna Precipitación: 255
Datos nulos en la columna Humedad: 255

In [43]:
# Calcular promedio sin los datos nulos
promedio_temperatura=np.nanmean(temperatura)
promedio_precipitacion=np.nanmean(precipitacion)
promedio_humedad=np.nanmean(humedad)

Temperatura promedio: 14.889295723531715
Precipitación promedio: 9.9016035987084
Humedad promedio: 54.35906079674394

In [45]:
# Reemplazar los datos nulos con el promedio
temperatura[temperatura_nan]=promedio_temperatura
precipitacion[precipitacion_nan]=promedio_precipitacion
humedad[humedad_nan]=promedio_humedad

#### 5. Realizar análisis estadístico básico. Se expera extraer la siguiente información:

**Temperatura promedio**

In [48]:
temperatura_promedio=np.nanmean(temperatura)
print(f'Temperatura promedio: {temperatura_promedio}')

Temperatura promedio: 14.889295723531713

**Total de precipitaciones**

In [49]:
precipitacion_total=np.sum(precipitacion)
print(f'Precipitación Total: {precipitacion_total}')

Precipitación Total: 50597.19438939993

**La máxima humedad registrada**

In [51]:
humedad_maxima=np.max(humedad)
print(f'Humedad máxima: {humedad_maxima}')

Humedad máxima: 99.99658156071747

**Fecha más calurosa**

In [58]:
# Identificar temperatura más alta
temp_max=np.max(temperatura)
# Registro con mayor temperatura (id)
registro_mas_caluroso=np.where(temperatura==temp_max)[0][0]
# Fecha correspondiente
fecha_mas_calurosa=df_datos_meteorologicos.iloc[registro_mas_caluroso]['Fecha']
print(F'Fecha más calurosa: {fecha_mas_calurosa}')

Fecha más calurosa: 12/07/2017

**Fecha más fría**

In [59]:
# Identificar temperatura más baja
temp_min=np.min(temperatura)
# Registro con mayor temperatura (id)
registro_mas_frio=np.where(temperatura==temp_min)[0][0]
# Fecha correspondiente
fecha_mas_fria=df_datos_meteorologicos.iloc[registro_mas_frio]['Fecha']
print(F'Fecha más fria: {fecha_mas_fria}')

Fecha más fria: 23/07/2020

### 6. Exportar los resultados a un nuevo archivo CSV.

In [66]:
# Crear un DataFrame con los resultados
resultados=pd.DataFrame({
    'Parámetro':['Temperatura Promedio', 'Precipitación Total', 'Humedad Máxima', 'Día Más Caluroso', 'Día Más Frío'],
    'Valor': [temperatura_promedio, precipitacion_total, humedad_maxima, fecha_mas_calurosa, fecha_mas_fria]
})
# Guardar los resultados en un nuevo archivo CSV
resultados.to_csv('Resultado análisis meteorológico.csv', index=False, encoding='utf-8') #Si solo se coloca el nombre, se guarda en la misma carpeta del archivo datos_meteorologicos.csv